<div class="nested-fields">
  <div class="form-group">
    <%= f.label :text %>
    <%= f.text_field :text, class: "form-comtrol" %>
  </div>
  <%= link_to_remove_association "Remove question", f %>
</div>