<div class="nested-fields">
  <div class="form-group">
    <%= f.label :text %>
    <%= f.text_area :text, class: "form-comtrol" %>
    <%= link_to_remove_association "Remove question", f %>
  </div>
</div>